.incident-summariser-ticket-summary-component {
    box-shadow: 0 0 6px #ddd;
    background-color: #fff;
    border-radius: 8px;
    height: 100%;
    width: 31%;
}

.ticket-summary-component-section {
    display: flex;
    flex-direction: column;
    padding-bottom: 12vw;

}

.ticket-card-component {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 29vw;
    height: 54vh;
    margin-top: 5px;
}

.id-input-group {
    /*display: flex;*/
}

/*.form-control {*/
/*    display: contents;*/
/*}*/

.id-input-group-choice {
    padding-right: 6px;
}

.ticket-input-container-button {
    margin: 11px 0px 0px 0px;
}