.incident-summariser-required-component {
    display: flex;
    /*justify-content: space-around;*/
    /*border: 1px solid;*/
    height: 100vh;
}

.App {
    background-color: #f7f7f7;
    padding: 0;
    margin: 0;
}

.incident-summariser-ticket-summary-component {
    background-color: white;
}