
.incident-summariser-header {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 3vw;
    padding-bottom: 15px;
}
.ticket-detail-component-header {
    font-family: "SF Pro Display", sans-serif;
    font-size: 1vw;
    font-weight: bold;
    margin-bottom: 3vw;
    color: #333333;
    text-align: justify;
    text-transform: uppercase;
    padding-left: 2vw;
}
.ticket-input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    font-family: "SF Pro Display", sans-serif;
    /*padding: 20px;*/
    border-radius: 20px;
}

    .ticket-input-container-button {
        background-color: #fff;
        color: white;
        border: none;
        border-radius: 10px;
        font-size: 18px;
        cursor: pointer;
    }

.ticket-input-container-text-field {
    padding-bottom: 15px;
    /*display: flex;*/
}

@media (max-width: 768px) {
    .incident-summariser-required-component {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .incident-summariser-required-component {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.incident-summariser-required-component {
    justify-content: center;
    display: flex;
    width: 100%;
    height: 90%;
    gap: 14px;
}
.incident-summariser-ticket-summary-component {
    display: block;
    align-items: center;
    justify-content: center;
}

.App{
    position: fixed;
    z-index: 0;
    top: 10px;
    bottom: 10px;
    right: 0;
    left: 0;
    background-color: #f7f7f7;
    padding: 10px;
    margin: 0;
}

.incident-summariser-ticket-summary-component {
    background-color: white;
    display: block;
    /*flex-direction: column;*/
    /*align-items: center;*/
    padding: 20px;
}